{% extends 'base.html.twig' %}

{% block body %}
    {% for review in reviews %}
        <div class="row">
            <div class="col-12">
                <p><strong>{{ review.user.fullname }}</strong></p>
                <hr>
            </div>
            <div class="col-6">
                <p>{{ review.text }}</p>
            </div>
            <div class="col-6">
                <p>{{ review.rating }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}